.custom-navbar{
    background-color: #3A84CD;
    color:wheat;
}
.white-color1{
    color:white;
    font-size:16px;
    margin: 6px;
}
.universal-color{
    background-color: #d3c5d2;
    font-size:20px
}
NavDropdown.title{
    color:white; 

}
.custom-color{
    background-color: #3A84CD;
    color:black;
}
.btn-custom{
    background-color: #3A84CD;
    color:whitesmoke;
    font-weight: bold;
}
.btn-custom.hover{
    color:whitesmoke;

}